.about-popup {
	position: absolute;
	z-index: 6;
	top: 60px;
	bottom: 20px;
	left: 40px;
	right: 40px;
	padding: 10px;
	border-radius: 4px;
	background-color: rgba(55,55,55,.95);
	//color: #66AFE9;
	color: #EEEEFF;
	font-family: Verdana, sans-serif;
	overflow: auto;
}

.about-popup a {
        color: #76B0F2;
}

.about-popup button.close {
        color: #76B0F2;
	background: #606060;
        opacity: 0.9;
        padding: 3px 5px;
        border-radius: 5px;
}

.about-popup .logo {
  height: 160px;
  width: 160px;
}

.about-popup .vote-icon {
  height: 64px;
  width: 64px;
}

.triangle {
	position: absolute;
	top: 30px;
	left: -3px;
    width: 0;
	height: 0;
	text-indent: -9999px;
	border-right: 16px solid transparent;
	border-bottom: 16px solid rgba(55,55,55,.95);
	border-left: 16px solid transparent;
	z-index: 7;
}

.alert-popup {
	position: absolute;
	margin: 0px 20px;
	max-width: 400px;
	box-sizing:border-box;
	z-index: 5;
	left: 0px;
	top: 115px;
}

.controls {
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.prompt {
	background-color:#D0E9C6;
}

.region-id {
        width: 3em;
        text-align: center;
}

button[disabled], html input[disabled]{
	color: #fff;
	background: #bbb;
	border: none;
}

.btn-input {
	display: table-cell;
}

.btn-input .btn.form-control {
	text-align: left;
	box-shadow: 0 1px 2px rgba(0,0,0,0.08);
	width: 100%;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 24px;
}

.open.btn-input .btn.form-control, .btn-input .btn.form-control:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.08);
}

.btn-input .btn.form-control .label {
	left: 10px;
	overflow: hidden;
	position: absolute;
	right: 25px;
}

.btn-input .btn.form-control .caret {
	margin-top: -1px;
	position: absolute;
	right: 10px;
	top: 50%;
}

li.selector {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.selector .ps {
	display: inline-block;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

li.selector .eta {
	position: absolute;
	right: 10px;
}

.vamid {
	vertical-align: middle;
	padding: 6px 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	display: table-cell;
}

.mobile {
	width: 100%;
}

label.btn > input[type='radio'] {
	display: none;
}
.panel {
	margin: 10px;
	position: absolute;top: 0px;bottom: 0px;left: 0px;right: 0px;
}

button.btn-default:hover {
	background-color: #9999CC;
}

a {
	text-decoration: none;
}

a i {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

#loading_screen {
				position: absolute;
				left: 0px;
				top: 0px;
				right: 0;
				bottom: 0;
				background-color: black;
				color: white;
				text-align: center;
				padding-top: 100px;
				z-index: 9001;
			}
			
#map-canvas {
	height: 100%;width: 100%;
}

#responsiveInfo {
        margin: 5px;
        display: inline-block;
}

.mapCtrl {
	width: 260px;
	font-size: 13px;
	background-color: rgba(255,255,255, 0.85);
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
	border-radius: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: default;
	text-align: left;
}

.mapCtrl input[type="checkbox"] { 
	/* checkboxes in the mapCtrl */
	vertical-align:middle ;
	margin-top:-2px;
}

.mapCtrl div {
	margin: 3px 5px;
}

/*
 * The busy spinner is to right of .mapCtrl,
 * pushed down below #aboutIcon.
 */
.busySpinner {
        float: left;
        margin-left: 5px;
        margin-top: 35px;
        vertical-align: middle;
	background-color: #fff;
}

#pac-input {
	background-color: #fcfcff;
	width: 300px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	text-overflow: ellipsis;
        padding-left: 3px;
}

#pac-input:focus {
	border-color: #4d90fe;
	padding-left: 4px; /* Regular padding-left + 1 */
	width: 301px; /* Regular width + 1 */
}

#aboutIcon {
        padding: 2px 3px 0 0;
        color: #FFFFFF;
        text-shadow: 1px 1px #777;
}

.logobottom {
	margin:8px;
}

#oa-logo img {
	height: 20px; width: 100px;
}

#vatx-logo img {
	height: 50px; width: 50px;
}

.left-block {
        display: block;
        float: left;
        clear: left;
        margin-top: 6px;
}

/* override margin-top of .left-block */
.left-block-first {
        margin-top: 0;
}

