.about-popup {
	position: absolute;
	z-index: 6;
	top: 60px;
	bottom: 20px;
	left: 40px;
	right: 40px;
	padding: 10px;
	border-radius: 4px;
	background-color: rgba(55,55,55,.95);
	color: #66AFE9;
	font-family: Verdana, sans-serif;
	overflow: auto;
}
.about-popup a:link {
	color: #FFD1E9;
}

.triangle {
	position: absolute;
	top: 30px;
	left: -3px;
    width: 0;
	height: 0;
	text-indent: -9999px;
	border-right: 16px solid transparent;
	border-bottom: 16px solid rgba(55,55,55,.95);
	border-left: 16px solid transparent;
	z-index: 7;
}

.alert-popup {
	position: absolute;
	margin: 0px 20px;
	max-width: 400px;
	box-sizing:border-box;
	z-index: 5;
	left: 0px;
	top: 100px;
}

.controls {
	margin-left: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.region-id {
        width: 3em;
        text-align: center;
}

#pac-input {
	background-color: rgba(255,255,255);
	padding: 0 11px 0 13px;
	width: 360px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#pac-input:focus {
	border-color: #4d90fe;
	margin-left: 9px;
	padding-left: 14px; /* Regular padding-left + 1. */
	width: 361px;
}

.mapCtrl {
	width: 240px;
	font-size: 13px;
	background-color: rgba(255,255,255, 0.85);
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
	border-radius: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: default;
	text-align: center;
	display: inline-block;
}

.mapChk {
	background-color: white;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	border-radius: 4px;
	cursor: pointer;
	text-align: left;
}

button[disabled], html input[disabled]{
	color: #fff;
	background: #bbb;
	border: none;
}

.btn-input {
	display: table-cell;
}

.btn-input .btn.form-control {
	text-align: left;
	box-shadow: 0 1px 2px rgba(0,0,0,0.08);
	width: 100%;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 24px;
}

.open.btn-input .btn.form-control, .btn-input .btn.form-control:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.08);
}

.btn-input .btn.form-control .label {
	left: 10px;
	overflow: hidden;
	position: absolute;
	right: 25px;
}

.btn-input .btn.form-control .caret {
	margin-top: -1px;
	position: absolute;
	right: 10px;
	top: 50%;
}

li.selector {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.selector .ps {
	display: inline-block;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

li.selector .eta {
	position: absolute;
	right: 10px;
}

.vamid {
	vertical-align: middle;
	padding: 6px 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	display: table-cell;
}

.mobile {
	width: 100%;
}

label.btn > input[type='radio'] {
	display: none;
}
.panel {
	margin: 10px;
}

button.btn-default:hover {
	background-color: #9999CC;
}

a {
	text-decoration: none;
}

a i {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

#loading_screen {
				position: absolute;
				left: 0px;
				top: 0px;
				right: 0;
				bottom: 0;
				background-color: black;
				color: white;
				text-align: center;
				padding-top: 100px;
				z-index: 9001;
			}
