.about-popup {
	position: absolute;
	z-index: 6;
	top: 60px;
	bottom: 20px;
	left: 40px;
	right: 40px;
	padding: 10px;
	border-radius: 4px;
	background-color: rgba(159,160,198,.95);
	color: #CCFF99;
	font-family: Verdana, sans-serif;
	overflow: auto;
}
.about-popup a:link {
	color: #FFD1E9;
}

.triangle {
	position: absolute;
	top: 30px;
	left: -3px;
    width: 0;
	height: 0;
	text-indent: -9999px;
	border-right: 16px solid transparent;
	border-bottom: 16px solid rgba(159,160,198,.95);
	border-left: 16px solid transparent;
	index: 7;
}

.alert-popup {
	position: absolute;
	margin: 0px 20px;
	max-width: 400px;
	box-sizing:border-box;
	z-index: 5;
	left: 0px;
	top: 100px;
}

.controls {
	margin-left: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: rgba(255,255,255, 0.85);
	padding: 0 11px 0 13px;
	width: 360px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#pac-input:focus {
	border-color: #4d90fe;
	margin-left: 9px;
	padding-left: 14px; /* Regular padding-left + 1. */
	width: 361px;
}

.mapCtrl {
	width: 80px;
	font-size: 13px;
	background-color: #fff;
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
	border-radius: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;
	text-align: center;
}

.mapChk {
	background-color: white;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	border-radius: 4px;
	cursor: pointer;
	text-align: left;
}

.select-addon {
	width: 40px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #555555;
	text-align: center;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	white-space: nowrap;
	display: table-cell;
}

.btn-input {
	display: table-cell;
}

.btn-input .btn.form-control {
	text-align: left;
	box-shadow: 0 1px 2px rgba(0,0,0,0.08);
	width: 100%;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 24px;
}

.open.btn-input .btn.form-control, .btn-input .btn.form-control:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.08);
}

.btn-input .btn.form-control .label {
	left: 10px;
	overflow: hidden;
	position: absolute;
	right: 25px;
}

.btn-input .btn.form-control .caret {
	margin-top: -1px;
	position: absolute;
	right: 10px;
	top: 50%;
}

li.selector {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.selector .ps {
	display: inline-block;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

li.selector .eta {
	position: absolute;
	right: 10px;
}

.vamid {
	vertical-align: middle;
	padding: 6px 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	display: table-cell;
}

.mobile {
	width: 100%;
}

label.btn > input[type='radio'] {
	display: none;
}
.panel {
	margin: 10px;
}

button.btn-default:hover {
	background-color: #9999CC;
}

a {
	text-decoration: none;
}

a i {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

#directions-panel {
	margin-top: -40px;
	height: 100%;
	overflow: auto;
}

.sideNav {
	background-color: rgba(255,192,203, 0.85);
	margin: 10px;
	position: fixed;
	right: -310px;
	top: 0;
	-moz-transition: right 0.2s linear;
	-o-transition: right 0.2s linear;
	-webkit-transition: right 0.2s linear;
	-moz-border-radius: 4px;
	border-radius: 4px;
	transition: right 0.5s linear;
	width: 300px;
	z-index: 9001;/* IT'S OVER 9000! */
	-webkit-transition-delay: 0.5s; /* Safari */
	transition-delay: 0.5s;
}

nav #menuToggle {
	background: rgba(0, 0, 0, 0.6);
	display: block;
	position: relative;
	height: 40px;
	left: -20px;
	top: 75px;
	width: 20px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

nav #menuToggle span {
	background: white;
	display: block;
	height: 10%;
	left: 10%;
	position: absolute;
	top: 45%;
	width: 80%;
}

nav #menuToggle span:before, nav #menuToggle span:after {
	background: white;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	top: -250%;
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	width: 100%;
}

nav #menuToggle span:after {
	top: 250%;
}

nav a:nth-child(n+2) {
	color: white;
	display: block;
	font-size: 2.5em;
	margin: 30px 0 30px 30px;
}

nav a:nth-child(n+2):after {
	background: #ffa53e;
	content: '';
	display: block;
	height: 2px;
	-moz-transition: width 0.2s;
	-o-transition: width 0.2s;
	-webkit-transition: width 0.2s;
	transition: width 0.2s;
	width: 0;
}

nav a:nth-child(n+2):hover:after {
	width: 100%;
}

.open {
	right: 0;
}

.open #menuToggle span {
	background: transparent;
	left: 10%;
	top: 45%;
}

.open #menuToggle span:before, .open #menuToggle span:after {
	background: white;
	top: 0;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.open #menuToggle span:after {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#menuToggle .navClosed {
	-moz-transition: background 0.1s linear;
	-o-transition: background 0.1s linear;
	-webkit-transition: background 0.1s linear;
	transition: background 0.1s linear;
}

#menuToggle .navClosed:before, #menuToggle .navClosed:after {
	-moz-transition: top 0.2s linear 0.1s, -moz-transform 0.2s linear 0.1s;
	-o-transition: top 0.2s linear 0.1s, -o-transform 0.2s linear 0.1s;
	-webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
	-webkit-transition-delay: 0.1s, 0.1s;
	transition: top 0.2s linear 0.1s, transform 0.2s linear 0.1s;
}

#menuToggle .navOpen {
	-moz-transition: background 0.1s linear 0.2s;
	-o-transition: background 0.1s linear 0.2s;
	-webkit-transition: background 0.1s linear;
	-webkit-transition-delay: 0.2s;
	transition: background 0.1s linear 0.2s;
}

#menuToggle .navOpen:before, #menuToggle .navOpen:after {
	-moz-transition: top 0.2s linear, -moz-transform 0.2s linear;
	-o-transition: top 0.2s linear, -o-transform 0.2s linear;
	-webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
	transition: top 0.2s linear, transform 0.2s linear;
}